name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up V
        uses: vlang/setup-v@v1.4
      - name: Remove Vlang folder
        run: |
          rmdir -rf -v ./vlang || true

      - name: Run all tests
        run: |
          v test .
          v test examples/simple/src
          v test examples/simple2/src
          v test examples/etag/src
